* {
  margin: 0;
  padding: 0;
}

html[lang='en'],
body {
  background-color: white;
}

a,
a:link,
a:visited,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 0.5rem;
  background: inherit;
  background-color: transparent;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
button:active {
  -ms-transform: scale(0.99);
  transform: scale(0.99);
}
button[disabled] {
  cursor: default;
}

button.primary,
button.secondary {
  padding: 0.5rem 1rem;
}

button.primary {
  letter-spacing: 1px;
  color: #fff;
  background-color: #3873f6;
}
button.primary.warning {
  background-color: #f44336;
}
button.primary[disabled] {
  color: rgb(129, 136, 158);
  background-color: rgb(212, 219, 235);
}

button.secondary {
  color: #3873f6;
  border: solid 1px #3873f6;
}

button.circle-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 99rem;
  background-color: #a2a4a7;
  cursor: pointer;
}

button.circle-button .svg-inline--fa {
  color: #fff;
}

button.circle-button.add-button {
  background-color: #6cbc95;
}

button.circle-button.remove-button {
  background-color: #e15d4e;
}

input::placeholder {
  color: #b8b3b3;
}

.no-scrollbars {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
/*.no-scrollbars::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/

.hide-overflow {
  overflow: hidden !important;
}

.display-none {
  display: none !important;
}

.fadeable {
  transition: opacity 0.6s, z-index 1s;
}
.fade-out {
  opacity: 0;
}
.fade-in {
  opacity: 1;
}

.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova'), url(../fonts/ProximaNova.ttf) format('truetype'),
    url(../fonts/ProximaNova.woff) format('woff'),
    url(../fonts/ProximaNova.otf) format('opentype');
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: local('ProximaNova-Semibold'),
    url(../fonts/ProximaNova-Semibold.ttf) format('truetype'),
    url(../fonts/ProximaNova-Semibold.woff) format('woff'),
    url(../fonts/ProximaNova-Semibold.otf) format('opentype');
}
