.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  color: #888888;
}

.error-container .error-icon {
  font-size: 10rem;
}
.widget .error-container .error-icon {
  font-size: 2.5rem;
}

.error-container .error-title {
  font-size: 2.5rem;
}
.widget .error-container .error-title {
  font-size: 1.5rem;
}

.error-container .error-message {
  max-width: 40rem;
  text-align: center;
  line-height: 1.25em;
  font-size: 2rem;
}
.widget .error-container .error-message {
  max-width: auto;
  padding: 0 4rem;
  font-size: 1rem;
}

.error-link {
  margin: 3rem 0 1rem;
  color: #164fd1;
}
