.loading-notifier {
  padding: 2rem;
  text-align: center;
}

.loading-notifier.content-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.loading-notifier.content-loading:before {
  content: ' ';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: rgba(155, 155, 155, 0.5);
}

.loading-notifier.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
