.marketplace-tile-graph {
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

.marketplace-tile-graph img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: perspective(1px) translate(-50%, -50%);
}
.marketplace-tile-graph-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marketplace-tile-graph-overlay:hover {
  opacity: 1;
  background-color: rgba(48, 48, 48, 0.68);
  cursor: pointer;
  transition: opacity 0.5s;
}

.marketplace-tile-graph-overlay button {
  padding: 0.5em 1.5em;
  border-radius: 0.25rem;
  color: #f8f8f8;
  border: 2px solid #f8f8f8;
}
