.modal-overlay {
  opacity: 0.65;
  background-color: #303030;
}

.modal {
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  max-width: 80vw;
  max-height: 80vh;
  overflow-y: auto;
  border: 1px solid #979797;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 7px 10px 4px rgba(162, 164, 167, 0.3);
  z-index: 1000;
}

.modal .modal-title {
  padding: 0.75rem;
  color: #fff;
  background-color: rgb(53, 62, 80);
}

.modal button.circle-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2;
}

.modal-content {
  position: relative;
  min-width: 25vw;
  min-height: 20vh;
}

.check {
  color: #6fbf98;
  margin-right: 5px;
}

/* CREATE/EDIT/DELETE Widget Modals */
.modal-content .widget-form-error {
  margin-bottom: 1rem;
  color: #f44336;
  font-size: 1.2rem;
}

.modal-content .create-widget-button-group {
  text-align: right;
}

.modal-content .create-widget-button-group button:first-child,
.modal-content .delete-widget-button-group button:first-child {
  margin-right: 1rem;
}

.delete-widget-confirm p {
  padding: 3rem 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.modal-content .delete-widget-button-group {
  text-align: center;
  margin-bottom: 1rem;
}

/* material-ui styling
  Probably a proper way to do this, but I don't have time to solve it.
  Sorry 'bout it
  ¯\_(ツ)_/¯
  -MP
 */
.modal-content .widget-form {
  padding: 1rem;
}
