.PlantStatusGauges {
  display: grid;
  grid-template-columns: 26% 22% 4% 26% 22%;
  grid-template-rows: 2rem 1fr 1fr;
  display: -ms-grid;
  -ms-grid-columns: 26% 22% 4% 26% 22%;
  -ms-grid-rows: 2rem 1fr 1fr;
  margin-top: 2rem;
  min-height: 375px;
}

.PlantStatusGauges .PlantStatusTitle {
  grid-row-start: 1;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  padding: 0.5rem;
  letter-spacing: 1px;
}
.PlantStatusGauges .PlantStatusTitle:nth-child(2) {
  grid-column-start: 4;
  -ms-grid-column: 4;
}

.PlantStatusGauges .chart {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 150px;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.PlantStatusGauges .chart:nth-child(3) {
  grid-row: 2 / span 2;
  grid-column-start: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
}

.PlantStatusGauges .chart:nth-child(4) {
  grid-row-start: 2;
  grid-column-start: 2;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.PlantStatusGauges .chart:nth-child(5) {
  grid-row-start: 3;
  grid-column-start: 2;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.PlantStatusGauges .chart:nth-child(6) {
  grid-row: 2 / span 2;
  grid-column-start: 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
}

.PlantStatusGauges .chart:nth-child(7) {
  grid-row-start: 2;
  grid-column-start: 5;
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.PlantStatusGauges .chart:nth-child(8) {
  grid-row-start: 3;
  grid-column-start: 5;
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.PlantStatusGauges.single-unit {
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 2rem 1fr;
  display: -ms-grid;
  -ms-grid-columns: 33% 33% 33%;
  -ms-grid-rows: 2rem 1fr;
}

.PlantStatusGauges.single-unit .PlantStatusTitle {
  grid-column: 1 / span 3;
  -ms-grid-column-span: 3;
}

.PlantStatusGauges.single-unit .chart-0 {
  grid-row: 2 / span 1;
  grid-column-start: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
}

.PlantStatusGauges.single-unit .chart-1 {
  grid-row: 2 / span 1;
  grid-column-start: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
}

.PlantStatusGauges.single-unit .chart-2 {
  grid-row: 2 / span 1;
  grid-column-start: 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
}

.PlantStatusGauges .chart > span {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PlantStatusGauges .chart:nth-child(3) > span,
.PlantStatusGauges .chart:nth-child(6) > span {
  top: 50%;
}

.dropdownPlaceholder {
  margin-left: 3rem;
  display: inline-block;
}

.timestamp {
  float: right;
  margin-right: 2rem;
  padding-top: 0.4rem;
}

.timestamp .rear {
  color: #5182f2;
}

.plant-chart-container {
  display: flex;
  height: calc(100% - 3rem);
}

.PlantStatusReadings {
  display: inline-block;
  position: relative;
  width: 30%;
  margin: 1.5rem 0;
  vertical-align: top;
  white-space: nowrap;
}

.PlantStatusReadings .dataPointsContainer {
  position: relative;
  height: 19rem;
  overflow: hidden;
}

.PlantStatusReadings .dataPointsContainer .page {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transition: top 0.5s;
}
.PlantStatusReadings .dataPointsContainer .page.active {
  top: 0;
}
.PlantStatusReadings .dataPointsContainer .page.above {
  top: -100%;
}
.PlantStatusReadings .dataPointsContainer .page.below {
  top: 100%;
}

.PlantStatusReadings button {
  color: #5182f2;
  display: block;
  padding: 1rem;
  text-align: left;
  border-radius: 8px;
}
.PlantStatusReadings button:not(.page) {
  width: 100%;
  margin: 0.5rem 0;
}

.PlantStatusReadings button.page {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.5rem 0.5rem;
  text-align: center;
}

.PlantStatusChart {
  position: relative;
  display: inline-block;
  width: 70%;
  margin-top: 1rem;
}

.PlantStatusChart .c3 {
  margin-top: 3rem;
}

.PlantStatusHeader span::first-child {
  color: rgba(31, 119, 180, 0.8);
}

.statusViewControl {
  position: relative;
  z-index: 3;
  text-align: right;
}

.statusViewControl button {
  color: #5182f2;
  margin-left: 1rem;
  padding: 0.6rem 0.5rem;
  border-radius: 8px;
}

.statusViewControl button:hover,
.statusViewControl button.active,
.PlantStatusReadings button:hover,
.PlantStatusReadings button.active:not(.page) {
  background-color: rgba(90, 186, 255, 0.5);
}
.statusViewControl button.active,
.PlantStatusReadings button.active:not(.page) {
  font-weight: bold;
}

.disabled {
  pointer-events: none;
  color: gray !important;
}

.active {
  cursor: pointer;
}

.comparison-chart-tooltip {
  position: relative;
}

.comparison-chart-tooltip .tooltip-bubble {
  z-index: 2;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: #fff;
  border-radius: 0.5rem;
}

.comparison-chart-tooltip .value-bubbles-wrapper {
  position: relative;
  top: -3rem;
  display: flex;
  flex-direction: column-reverse;
}

.persistent-tooltip-container {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
}

.persistent-tooltip-container .comparison-chart-tooltip {
  height: 100%;
}

.persistent-tooltip-container .comparison-chart-tooltip .value-bubbles-wrapper {
  top: auto;
  height: 100%;
  justify-content: space-around;
}

.persistent-tooltip-container .comparison-chart-tooltip .tooltip-bubble {
  z-index: 1;
}
