.snackbar {
  position: fixed;
  bottom: -8rem;
  left: 2rem;
  z-index: 3;
  display: flex;
  border-radius: 0.3rem;
  box-shadow: -11px 9px 21px 0 rgba(16, 17, 20, 0.17);
  background-color: white;
  color: #58595b;
  transition: opacity 0.6s, z-index 0.6s, bottom 0.6s;
}
.snackbar.glide-in {
  bottom: 2rem;
}

.snackbar .checkmark-box,
.snackbar .exclamation-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.25rem;
}
.snackbar .checkmark-box {
  background-color: #33b871;
}
.snackbar .exclamation-box {
  background-color: #f44336;
}
.snackbar .checkmark-box:before,
.snackbar .exclamation-box:before {
  content: ' ';
  display: inline-flex;
  width: 4rem;
  height: 4rem;
  border-radius: 99rem;
  background-color: #fff;
}
.snackbar .svg-inline--fa {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
.snackbar .checkmark-box .svg-inline--fa {
  color: #33b871;
}
.snackbar .exclamation-box .svg-inline--fa {
  color: #f44336;
}

.snackbar .copy {
  padding: 2rem 1.25rem;
}
