.widget-list-container {
  padding: 1rem 1.5rem 0;
}

.widget-dashboard-header {
  position: relative;
  margin: 1.5rem 0 2rem;
}

.widget-dashboard-header h2,
.widget-dashboard-header .button-group {
  display: inline-block;
}

.widget-dashboard-header h2 {
  color: #2d3b4f;
}

.widget-dashboard-header .button-group {
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.grid-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: inherit;
}

.flippable {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  display: -ms-grid;
  -ms-grid-columns: 100%;
  -ms-grid-rows: 100%;
  perspective: 1000px;
}

.flippable .flip-widget {
  cursor: pointer;
}

.flippable .front,
.flippable .back {
  grid-column-start: 1;
  grid-row-start: 1;
  transition: transform 0.6s, opacity 0.5s ease-out;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  opacity: 0;
}
.flippable.front .front,
.flippable.back .back {
  opacity: 1;
}

.flippable .front {
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flippable.flipped .front {
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flippable .back {
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.flippable.flipped .back {
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.flippable,
.widget {
  margin: 0 0.45% 1.5rem;
}

.flippable .widget {
  margin: 0;
}

.flippable .flipButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
}

.widget {
  position: relative;
  flex-basis: 100%;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0 2px 10px 0 #cad6e8;
  border-radius: 0.5rem;
  background-color: #fff;
}
.widget.draggable-source--is-dragging {
  visibility: hidden;
}
.widget.draggable-mirror {
  border: 2px solid #9013fe;
}

.flippable.small,
.widget.small {
  flex-basis: 24%;
}
.grid-container.draggable .small {
  width: 24%;
}
.flippable.medium,
.widget.medium {
  flex-basis: 49%;
}
.grid-container.draggable .medium {
  width: 49%;
}
.flippable.large,
.widget.large {
  flex-basis: 74%;
}
.grid-container.draggable .large {
  width: 74%;
}
.flippable.extra-large,
.widget.extra-large {
  flex-basis: 100%;
}
.grid-container.draggable .extra-large {
  width: 100%;
}

.loading-notifier.widget-list-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.widget .no-data-view {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 2rem;
}
